*{
	margin: 0;
	padding: 0;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
body{
	background-color: #F5F5F5;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.header{
	background-color: #283E49;
}
.container{
	width: 1144px;
	margin: 0 auto;
}
#left-side{
	float: left;
}
.logo{
	float: left;
	height: 34px;
	margin: 9px 0px;
	margin-right: 12px;
}
.img{
	display: inline-block;
	height: 34px;
}
#search-main{
	float: left;
	position: relative;
}
.search{
	float: left;
	position: relative;
}
#ip{
	width: 242px;
    font-size: 14px;
    outline: none;
    height: 32px;
    margin: 9px 0px;
    padding: 0px 8px 0px 28px;
    font-weight: 400;
    background: #E1E9EE;
    
    border:1px solid #283e4a;
    border-radius: 2px;

}
::placeholder{
	color: #283e4a;
}
.icon{
	display: inline-block;
    width: 28px;
    height: 34px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 9px;
    left: 0px;
    padding-left: 2px;
}
#ip:focus{
	background-color: #fff;
    border: 1px solid #006bb2;
    padding-left: 8px;
    padding-right: 45px;
    width: 224px;
}
#icon_a{
	background: #e0e9ee;
    display: inline-block;
    width: 40px;
    height: 32px;
    text-align: center;
    color: #007ec0;
    line-height: 33px;
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 19px;
    display: none;
}
#search-filter{
	position: absolute;
	top: 46px;
	width: 780px;
	background-color: #fff;
	border:1px solid #d9d9d9;
	display: none;
}
#content{
	margin-left: 8px;
}
.content-a{
	display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid #596e7c;
    color: #596e7c;
    border-radius: 57px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    height: auto;
}
#content li{
	list-style: none;
	padding:12px 4px;
	float: left;
}
#content li:hover{
	background-color:#e6e9ec;
}
.content-a:hover{
	background-color: #e6e9ec;
}
.content-a:hover{
	padding: 4px 9px 4px 9px;
	border:2px solid #596e7c;
}
#right-side{
	float: right;
}
.icon-navbar,.icon-navbar-usr{
	float: left;
    text-align: center;
    position: relative;
}
.icon-a,.icon-a-user{
	display: inline-block;
	text-align: center;
	margin-top: 8px;
	text-decoration:none;
	height: 42px;
	width: 80px;
}
.icon-img{
	display: inline-block;
    width: 20px;
    height: 18px;
    color: #c7d1d8;
}
.icon-name{
	display: block;
    font-size: 12px;
    font-weight: 400;
    color: #c7d1d8;
    margin-left: 3px;
    margin-top: 3px;
}
.icon-a:focus {
	border-bottom: 2px solid #fff;
}
.icon-a:focus .icon-name{
	color: #fff;
}
.icon-a:hover .icon-name{
	color: #fff;
}
.user{
	display: inline-block;
    width: 22px;
    height: 22px;
    border: 1px solid #c7d1d8;
    border-radius: 50%;
    margin-top: 2px;
    background-image: url("../image/account.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
}
.icon-name-user{
	display: block;
    text-align: left;
    margin-top: 0px;
    margin-left: 22px;
    font-size: 12px;
    font-weight: 400;
    color: #c7d1d8;
}
.down{
	font-size: 11px;
    position: absolute;
    top: 31px;
    right: 21px;
    color: #c7d1d8;
}
.us:hover .icon-name-user,.us:hover .down{
	color: #fff;
}
#user-details{
	position: absolute;
	width: 288px;
    border: 1px solid #fff;
    top: 62px;
    right: 19px;
    box-shadow: 0px 2px 0px 0px rgba(230,230,230,1);
}
#user-profile{
	text-align:left;
	position: relative;
	padding-bottom: 9px;
}
#usp-img{
	width: 53px;
    height: 53px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 18px;
    box-shadow: 0px 3px 12px 3px rgba(230,230,230,1);
}
#user-name{
	position: absolute;
    top: 35px;
    left: 82px;
    display: block;
    width: 197px;
    font-size: 19px;
    font-weight: 600;
}
#user-des{
	display: inline-block;
    margin-left: 12px;
	font-weight: 400;
	font-size: 14px;
	color:  #666666;
}
.viewprofile{
	display: block;
    text-align: center;
    color: #2d85bf;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 12px;
    margin:4px 12px;
}
.list-a{
	display: block;
    text-decoration: none;
    text-align: left;
    padding-left: 11px;
    padding: 12px;
   	color: #666666;
    font-size: 14px;
    font-weight: 600;
}
.ho{
	cursor: pointer;
}
.active{
	border: 1px solid #ced1d3;
    border-left: none;
    border-right: none;
	color: #000;
	 background: #f3f6f8;
}
.mart,.pa{
	margin-top: 4px
}
.marb{
	margin-bottom: 4px
}
.bor{
	border-top:  1px solid #ced1d3;
}
.ho:hover{
	background-color: #e5e5e5;
}
.ho,#user-profile{
	background-color: #fff;
}
.viewprofile:hover{
	background-color: #e2f5fd;
}
.line{
	border-right: 2px solid #596e7c;
    height: 52px;
}
.us:focus ~ #user-details{
	display: block;
}