.inner{
	float: left;
	display: flex;
	flex-direction: column;
}

.top-card{
	width: 791px;
	border-radius: 2px;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.bg-image{
	height: 198px;
    background-position: center;
    background-size: cover;
}
.bottom-div{
	padding: 0px 24px 24px 24px;
	background-color: #fff;
}
.part-pro{
	display: flex;
	justify-content: space-between;
}
.profile-image{
	box-shadow: 0px 0px 5px 0.5px rgba(0,0,0,0.6);
    width: 144px;
    height: 144px;
    border: 4px solid #E1EAEF;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -104px;
}
.div-span{
	text-align: center;
    padding: 12px 0px 4px 0px;
}
.span-msg{
	margin-top: 4px;
	height: 20px;
    display: inline-block;
    background: #0073b1;
    padding: 6px 12px;
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;
}
.span-more{
	margin-top: 4px;
	height: 20px;
    display: inline-block;
    background: #fff;
    padding: 6px 12px;
    margin-left: 8px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 2px;
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    line-height: 20px;
}
.span-msg:hover{
	background-color: #005898;
}
.span-more:hover{
	padding: 5px 11px;
	color: rgba(0,0,0,0.9);
	border: 2px solid rgba(0,0,0,0.9);
}
.details-blk{
	display: flex;
	margin-top: 8px;	
}
.right_side-blk{
	float: left;
	width: 488px;
	margin-right: 24px;
}
.lest_slide-blk{
	float: left;
	width: 232px;
}
.name_span{
	display: block;
	font-size: 24px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
}
.designation-blk{
	margin-top: 4px;
	font-size: 18px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
	line-height: 24px;
}
.address-blk{
	display: block;
	list-style: none;
	margin-top: 4px;
}
.add-blk{
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
	line-height: 24px;
    padding-right: 14px;
}
.add1_blk{
	display: inline-block;
	padding-right: 14px
}
.add1_a_blk{
	color: rgb(0,115,177);
	font-size: 16px;
	font-weight: 600;
	text-decoration:none;
	cursor: pointer;
}
.cpy-a{
	display: flex;
	cursor: pointer;
	text-decoration:underline;
	text-decoration-color: transparent;
}
.img-cpy{
	display: inline-block;
	width: 24px;
	height: 24px;
	border:4px solid transparent;
}
.name_sp{
	display: inline-block;
	margin-left: 8px;
	font-size: 14px;
	font-weight: 600;
	color: rgba(0,0,0,0.9);
	line-height: 31px;
}
.cpy-a:hover{
	color:rgb(0,115,177);
	text-decoration-color: rgb(0,115,177); 
}
.cpy-a:hover .name_sp{
	color:rgb(0,115,177);
}
.about-blk{
	border-radius: 2px;
	width: 744px;
    background: #fff;
	margin-top: 16px;
	padding: 24px;
	text-align: left;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.about_head{
	font-size: 20px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
	line-height: 28px;
}
.about_parah{
	line-height:20px;
	padding-top: 16px;
	font-size: 14px;
	font-weight: 400;
	color:rgba(0,0,0,0.9);
}
.feature-blk{
	border-radius: 2px;
	background-color: #fff;
	width: 791px;
	margin-top: 16px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.h-fea{
	margin-left: 24px;
	padding-top: 24px;
}
.inner-feature{
	display: flex;
	padding: 16px 24px 24px 24px;
}
.img-fe{
	border-radius: 2px;
}
.fea-div{
	border-radius: 2px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}
.h_span{
	background-color: #fff;
	padding: 12px 12px 12px 12px;
	font-size:14px;
	font-weight: 600;
	color: #000;
	display: block;
	text-align: left;
	border-radius: 2px;
}
.exp-edu{
	padding-bottom: 24px;
	margin-top:16px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
	background-color: #fff;
}
.h2-exp-edu{
	padding: 24px 24px 0px 24px;
	text-align: left;
}
.h2-title{
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	color: rgba(0,0,0,0.9);
}
.exp-ul{
	list-style: none;
}
.exp-li{
	display: block;
}
.inner_blk{
	padding: 20px 0px 0px 24px;
	cursor: pointer;
}
.inner-blk-after::after{
	content: "";
    display: block;
    border-bottom: 1px solid #e6e9ec;
    margin-top: 16px;
  	margin-left: 81px;
}
.inner-blk-last::after{
	content: "";
    display: block;
    margin-top: 16px;
  	margin-left: 81px;
}
.in_div{
	display: flex;
}
.logo-p{
	width: 56px;
    height: 56px;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
}
.right-div{
	text-align: left;
}
.h3-head-cmpy{
	font-weight: 600;
	font-size: 16px;
	color: #000;
	line-height: 24px;
}
.cmpy-name-div{
	display: flex;
}
.cmpy-span{
	line-height: 20px;
	font-size: 14px;
	display: inline-block;
	font-weight: 400;
	color:rgba(0, 0, 0, 0.9);
	overflow-wrap:break-word;
}
.cp-after::after{
	content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background: rgba(0, 0, 0, 0.9);
    margin: 3px 5px;
    border-radius: 50%;
}
.exp-crt-div{
	display: flex;
}
.add-div-exp{
	line-height: 20px;
	font-size: 14px;
	display: block;
	font-weight: 400;
	color:rgba(0, 0, 0, 0.6);
	overflow-wrap:break-word;
}
.top-cpmy-exp{
	display: flex;	
	text-decoration: none;
}
.top-cmpy-name{
	color: #000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.top-cmpy-name-sp{
	font-size: 14px;
	font-weight: 400;
	display: block;
	line-height: 20px;
	color:rgba(0,0,0,0.6);
}
.ul_list-cmpy-exp{
	list-style: none;
	margin-top: 8px;
}
.ul_li-li{
	position: relative;
	padding-left: 80px;
}
.ul_li-top{
	position: relative;
	padding-bottom: 24px;
}
.ul_li-top-bottom{
	padding-bottom: 0px;
}
.ul_li-top-before{
	display: block;
	position: absolute;
	border: 2px solid #cfcfcf;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    background-color: #cfcfcf;
    top: 12px;
    margin-left: 24px;
    left: -81px;
}
.ul-li-top-span{
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	display: block;
}
.ul-li-line{
   position: absolute;
    height: calc(100% - 22px); 
    top: 28px;
   /* height: 40px;*/
    left: 26px;
    width: 2px;
    background-color: #e9e9e9;
}
.add-div-content{
	margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9)
}
.set-one{
	border-top: 1px solid #e6e9ec;
	border-bottom: 1px solid #e6e9ec;
}
.set-one-last{
	border-top: 1px solid #e6e9ec;
}
.div_activity{
	display:flex;
}
.issued-div{
	display: flex;
}
.section-skills{
	margin-top: 16px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    background-color: #fff;
}
.inner-section-skills{
	padding: 24px 24px 0px 24px;
}
.h2-skill{
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: rgba(0,0,0,0.9);
}
.ul-skill-parent{
	list-style: none;
}
.skill-li{
	display: block;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	padding: 16px 0px 12px;
}
.skill-li-last{
	display: block;
	padding: 16px 0px 12px;
	margin-bottom: 4px;
}
.li-div-flex{
	display: flex;
}
.div-skill-btn{
	display: block;
    margin-right: 12px;
    height: 32px;
}
.button-skill-plus{
	width: 32px;
    height: 32px;
    background-color: transparent;
    position: relative;
    border-radius: 50%;
    outline: none;
    border: none;
    box-shadow: inset 0px 0px 0px 1px #0073b1;
    text-align: center;
    cursor: pointer;
}
.span-skill-plus{
	width: 2px;
    display: inline-block;
    background: #0073b1;
    height: 12px;
}
.line-height{
	line-height: 32px;
}
.span-skill-plus::after{
	content: "";
    display: block;
    background: #0073b1;
    width: 2px;
    height: 12px;
    transform: rotate(90deg);
}
.span-list-skill{
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: rgba(0,0,0,0.9);
	line-height: 32px;
	cursor: pointer;
}
.button-skill-plus:hover{
	box-shadow: inset 0px 0px 0px 2px #0073b1;
	background-color: #d9eef8;
}
.skills-parent-padding{
	padding: 24px;
	margin: 0px -24px;
	background: #f3f6f8;
    border-top: 1px solid rgba(0,0,0,0.15);
}
.child-skills-div{
	margin-bottom: 32px;
	position: relative;
}
.child-skills-heading{
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(0,0,0,0.6);
}
.child-skills-ul{
	list-style:none;
	width: 744px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.child-skill-li{
	padding-top: 16px;
    flex-basis: 336px;
}
.show-more-div{
	position: relative;
	text-align: center;
	background-color: #fff;
	color:rgb(0, 115, 177);
	font-size: 16px;
	font-weight: 600;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin: 0px -24px;
    padding: 0px 24px;
    cursor: pointer;
    line-height: 39px;
}
.show-more-i{
	font-size: 14px;
    display: inline-block;
    margin-left: 4px;
    position: absolute;
    top: 12px;
}
.rotate-i-skill{
	transform: rotate(180deg);
	top: 14px;
}
.show-more-div:hover{
	background-color: #d9eef8;
}
.show-more-span{
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	color:rgb(0, 115, 177);
	cursor: pointer;
}
.i-skills-question{
	display: inline-block;
    position: absolute;
    top: 4px;
    left: 83px;
    color: rgba(0,0,0,0.6);
    margin-left: 7px;
    font-size: 16px;
    cursor: pointer;
}
.i-skills-question-span{
	font-weight: 400;
    display: none;
    background: #243e4a;
    border: 1px solid transparent;
    color: #fff;
    font-size: 15px;
    padding: 9px;
    position: absolute;
    top: -11px;
    left: 24px;
    width: 418px;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px #243e4a;
}
.i-skills-question:hover .i-skills-question-span{
	display: block;
	transition: 0.5s;
}
.intrest_block-div{
	margin-top: 16px;
	padding:24px 24px 0px 24px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
	background: #fff;
	margin-bottom: 24px;
}
.ul-interest-blk{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 16px;
	padding-bottom: 24px;
	width: 741px;
}
.li-intrest{
	margin-bottom: 24px;
	width: 360px;
}
.list-a-interst{
	display: flex;
	text-decoration:none;
	cursor: pointer;
}
.div-image{
	margin-right: 24px;
}
.intrest-image{
	width: 48px;
	height: 48px;
	border: 4px solid transparent;
	display: block;
}
.div-right-side{
	display: block;
}
.h3-intrest-head{
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	color: rgba(0,0,0,0.9);
}
.span-intrest-head{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
	line-height: 20px;
}